.container{
    text-align: center;
}
body{
    background-color: rgb(232, 184, 218);
}
    
    #value{
        font-size: 100px;
        padding-bottom: 100px;
    }
    .btn{
        background-color: black;
        font-size: 15px;
        color: beige;
        letter-spacing: 4px;
        border-radius: 5px;
        height: 20px;
        height: 35px;
        border-style: solid rgb(231, 12, 12);
    }
    